<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Valencia Technology Club</title>


    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap jams-->
    <link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="./css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="./style/style.css" rel="stylesheet" />
    <!-- Styling and reset jams-->
    <link href="./style/css.css" rel="stylesheet" />
    <!-- Google font(s) jams-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,400' rel='stylesheet' type='text/css'>>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>


<body>
    <!--BEGIN NAV -->

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!--Logo -->
            <a class="navbar-brand col-xs-3" href="#btt">
                <img id="miniLogo" src="./images/mini-logo.png">
            </a>
            <!--End Logo -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">About</a></li>
                    <!-- QUESTION LINK, ENABLE ONCE QUESTIONS ARE GO
<li><a href="#questions">Questions</a></li> 
-->
                    <li><a href="#cal">Events</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

            </div>
        </div>
    </div>
    <!--END NAV -->



    <!--Begin Landing-->
    <div class="container-fluid groupback">
        <a class="lts" name="btt">hi there</a>
        <div class="main">
            <section class="area first">
                <div class="row">

                    <div class="col-md-6 col-md-offset-3 col-sm-offset-2 col-sm-8 col-xs-12 ">
                        <img src="./images/VC-tech-Tracks-No-words.png" class="img-responsive center-block VCTLogo" alt="Valencia Tech Club Logo">
                    </div>

                    <div class="col-lg-8 col-lg-push-2">
                        <h1 class="text-center">Valencia
							<br>Technology Club</h1>
                    </div>

                </div>
            </section>
        </div>
    </div>

    <!--End Landing-->
    <!--Begin Quote-->
    <div id="quote">
        <p>"Somewhere,
            <br>Something incredible
            <br>is waiting to be known"</p>

        <h5>-Carl Sagan</h5>
    </div>
    <!--End Quote-->

    <!--Begin About-->


    <div class="container-fluid aboutSection">
        <a class="lts" name="about">hi there</a>
        <h2>About</h2>
        <div class="row">
            <div class="col-lg-12" style="text-align:center;" i>
                <span class="stuffButton" id="whoButton">Who We Are </span>
                <span style="font-size: 2em;">&#8226;</span>
                <span class="stuffButton inactive" id="whyButton">Why we do it</span>
            </div>
        </div>
        <div class="row">
            <div class="aboutTextJams col-lg-8 col-lg-push-2" id="whoText">
                <p>The Technology Club is the point of convergance for a variety of technology focused disciplines at Valencia College.
                    <br>Though our focus is often on programming, networking, or general IT, we welcome anyone interested from any field of study. Our goal is to build a community through which students can grow and prosper, learning from one another and through the club sponsored Tech Talks.
                    <br>We host speakers from various industries, provide weekly study sessions for those who might need a little extra help, and are expanding into providing IT services for Valencia students at a significantly lower cost than might be found elsewhere.
                    <br>This is who we are.
                </p>
            </div>


            <div class="aboutTextJams col-lg-8 col-lg-push-2" id="whyText">
                <p> A career in technology can mean any one, or more, of an ever growing plethora of things. Not only that, technology isn't exactly known for remaining stagnant. Instead we're all part of the most constantly and consistently evolving industry in the world.
                    <br>This can seem daunting, intimidating even.
                    <br>In response to that our club seeks to build a communiy for students.
                    <br>One where we can come together and learn from one another, in doing this we not only begin to build a network of like-minded individuals but develop the kind of connections that are needed in this undustry.
                    <br>All the things we do we do to inspire, to learn, and to educate.
                    <br>We're here to share our love of technology with others like us.

                </p>
            </div>
        </div>



        <!-- QUESTIONS, ENABLE ONCE PHP MAILER IS GO 
        <!--Begin Questions-
    
    <div class="questionsSection">
        
		
        
        <div class="row" id="questionRow">
            <a class="lts" name="questions">hi there</a>
        <h2>Questions</h2>    
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="dailyQuestion">
                <span id="questionHead" style="font-family: 'Roboto Slab'; font-size: 2em; font-weight:100;">Weekly Question</span>
                <p>How to avoid late fees?</p>
                <br><br>
                <div id="answerHolder">
                <p>Turn your shit in</p>
                </div>

                <button class="btn-primary" id="answerButton">
                Answer
                </button>

                
                
                
            <script>
            $('#answerHolder').hide(); 
            $('#answerButton').click(function(){
                $('#answerHolder').fadeIn(200);
                $(this).hide();
            });
            </script>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="submitQuestion">
<span id="questionHead" style="font-family: 'Roboto Slab'; font-size: 2em; font-weight:100;">Have a question?</span>
                <p>
                Have a question you'd like to ask us?
                </p>
                <form action="questionMail.php">
                    <input type="text" id="questionIdea" name="questionidea"><br>
                    <button class="btn-primary" id="answerButton" type="submit">
                    Submit!
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!--End Questions-->




    </div>
    <script>
        $('#whyText').hide();
        $('#whyButton').click(function () {
            $('#whoText').hide();
            $('#whyText').fadeIn();
            $('#whyButton').addClass('active');
            $('#whyButton').removeClass('inactive');
            $('#whoButton').addClass('inactive');
            $('#whoButton').removeClass('active');
        });
        $('#whoButton').click(function () {
            $('#whyText').hide();
            $('#whoText').fadeIn();
            $('#whoButton').addClass('active');
            $('#whoButton').removeClass('inactive');
            $('#whyButton').addClass('inactive');
            $('#whyButton').removeClass('active');
        });
    </script>

    <!--End About-->


    <!--Begin Events Cal-->
    <div class="container-fluid row eventsback">
        <a class="lts" name="cal">hi there</a>

        <h2>Events</h2>
        <p>
            We've a lot of cool things coming up for latter half of the Fall semester!
            <br>Click on any event for details and ticket information.
        </p>
        <div class="clndr col-sm-8 col-sm-offset-2">
        </div>


    </div>



    <!--End Events Cal-->


    <!--Begin Contact-->
    <div class="container-fluid contactback">
        <a class="lts" name="contact">hi there</a>
        <h2>Contact</h2>
        <div id="socialMediaHolder">
            <a href="https://www.facebook.com/ValenciaTechClub"><img class="socialMedia" src="facebookIcon.png"></a>
            <a href="https://twitter.com/vctechclub"><img class="socialMedia" src="twitterIcon.png"></a>
            <a href="https://www.instagram.com/vctechclub">
                <img class="socialMedia" src="instagramIcon.png"></a>
        </div>
        <!--first row of officers -->
        <div class="row contacts">
            <div class="col-lg-4">
                <h6>President</h6>
                <img src="./officerPics/Chris.jpg" />
                <p>Christian Paredes
                    <br>chrislparedes@gmail.com
                </p>

            </div>
            <div class="col-lg-4">
                <h6>Vice President</h6>
                <img src="./officerPics/Tim.jpg" />
                <p>Timothy Garrett
                    <br>drtruck2@aol.com
                </p>
            </div>
            <div class="col-lg-4">
                <h6>Associate Vice President</h6>
                <img src="./officerPics/RyanD.jpg" />
                <p>Ryan Druhan
                    <br>rjdruhan@gmail.com
                </p>
            </div>
        </div>



        <!--second row of officers -->
        <div class="row contacts">
            <div class="col-lg-8">
                <div class="row">
                    <h6>Secretaries</h6>
                    <div class="col-lg-6">
                        <img src="./officerPics/RyanR.jpg" />
                        <p>Ryan Rua
                            <br>rrua@mail.valenciacollege.edu
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="./officerPics/Mandy.jpg" />
                        <p>Mandy Schmidt
                            <br>amaschmidt98@gmail.com
                        </p>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h6>Marketing</h6>
                <img src="./officerPics/Gavi.jpg" />
                <p>Gaviota Rivera
                    <br>grivera80@mail.valenciacollege.edu
                </p>
            </div>
        </div>


        <div class="row contacts">
            (The rest of us exist, but have not taken pics as lovely as the above folks. So we got relegated to the bottom.)
            <div class="col-lg-6">
                <h6>Treasurer</h6>
                <p>Eric Willoughby
                    <br>ewilloughby1@mail.valenciacollege.edu
                </p>
            </div>
            <div class="col-lg-6">
                <h6>Events Coordinator</h6>
                <p>Fatima Rollins
                    <br>fatima6052@gmail.com
                </p>
            </div>
        </div>
        <!--third row of officers -->
        <div class="row contacts">
            <div class="col-lg-4 col-lg-push-2">
                <h6>Lead Web Developer</h6>
                <p>Ruben Melendez
                    <br>ruben@rubenmelendez.me
                    <br><a href="http://rubenmelendez.me">Website</a>
                </p>
            </div>
            <div class="col-lg-4 col-lg-push-2">
                <h6>Associate Web Developer</h6>
                <p>Justin Thomas
                    <br>justhom2008@yahoo.com
                </p>
            </div>
        </div>
    </div>
    <!--End Contact-->



    <script type="text/template" id="tmplt">
        <div class="clndr-controls">
            <div class="clndr-previous-button">Previous
                <br>
            </div>
            <div class="month">
                <%= month %>
            </div>
            <div class="clndr-next-button">Next</div>
        </div>
        <div class="clndr-grid">
            <div class="days-of-the-week">
                <% _.each(daysOfTheWeek, function(day) { %>
                    <div class="header-day">
                        <%= day %>
                    </div>
                    <% }); %>
                        <div class="days">
                            <% _.each(days, function(day) { %>
                                <div class="<%= day.classes %>">
                                    <span class="event-indicator">
										<%- (day.events.length) ? day.events.length : '' %>
									</span>
                                    <%= day.day %>
                                </div>
                                <% }); %>
                        </div>
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="container">
            <h4 class="details-header hidden">Details</h4>
            <div id="clndr-details">
            </div>
        </div>
    </script>
    <script type="text/template" id="details-tmplt">
        <div class="vtech-event " style="border-bottom: 1px solid #e3e3e3;">
            <p class="lead">
                <%= summary %>
            </p>
            <p class="details">
                <%= description %> <a class="details-link <%- (!link) ? 'hidden' : '' %>" target="_blank" href="<%=link %>">For Details/Tickets Click Here</a>
            </p>
            <p class="location">
                <%= location %>
            </p>
        </div>
    </script>
    <!--	<script src="http://code.jquery.com/jquery.js"></script>
-->

    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/moment.min.js"></script>
    <script src="./js/underscore.min.js"></script>
    <script src="./js/clndr.min.js"></script>
    <script src="./js/main.min.js"></script>
</body>

</html>